# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
staticfiles/
media/
*.log
*.sqlite3

#Environment variables
env
venv
.env
local.env

# Docker files
Dockerfile
docker-compose.yml
README.md