{% extends 'founder_assistance/base.html' %}
{% load idea_filters %}

{% block content %}
<!--begin::Content container-->
<div class="d-flex flex-column flex-column-fluid container-fluid">
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Row-->
        <div class="row g-5 g-xl-8">
            <div class="col-xl-12">
                {% include 'founder_assistance/includes/idea_header.html' %}

                {% for idea in ideas %}
                    {% include 'founder_assistance/includes/idea_card.html' with idea=idea %}
                {% empty %}
                    {% include 'founder_assistance/includes/idea_empty_state.html' %}
                {% endfor %}
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Content-->
</div>
<!--end::Content container-->

{% block extra_scripts %}
    {% include 'founder_assistance/includes/idea_scripts.html' %}
{% endblock %}
{% endblock %}
