{% extends 'founder_assistance/base.html' %}
{% load idea_filters %}

{% block content %}
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl">
        <!--begin::Header-->
        <div class="mb-10">
            {% include 'founder_assistance/includes/project_detail_header.html' %}
        </div>
        <!--end::Header-->
        
        <!--begin::Stats and Upgrade-->
        <div class="row g-5 g-xl-10">
            <!--begin::Stats-->
            <div class="col-xl-7">
                {% include 'founder_assistance/includes/project_detail_stats.html' %}
            </div>
            <!--end::Stats-->

            <!--begin::Upgrade-->
            <div class="col-xl-5">
                {% include 'founder_assistance/includes/project_detail_upgrade.html' %}
            </div>
            <!--end::Upgrade-->
        </div>
        <!--end::Stats and Upgrade-->

        <!--begin::Row-->
        <div class="row g-5 g-xl-10 mt-5">
            <!--begin::Col-->
            <div class="col-xxl-6">
                {% include 'founder_assistance/includes/project_detail_ai_tools.html' %}
            </div>
            <!--end::Col-->

        </div>
        <!--end::Row-->

        <!--begin::Row-->
        <div class="row g-5 g-xl-10 mt-5">
            <!--begin::Col-->
            <div class="col-xxl-6">
                {% include 'founder_assistance/includes/project_detail_team.html' %}
            </div>
            <!--end::Col-->

            <!--begin::Col-->
            <div class="col-xxl-6">
                {% include 'founder_assistance/includes/project_detail_insights.html' %}
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->

        <!--begin::Row-->
        <div class="row g-5 g-xl-10 mt-5">
            <!--begin::Col-->
            <div class="col-xxl-12">
                {% include 'founder_assistance/includes/project_detail_timeline.html' %}
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->

        {% if project.related_idea %}
        <!--begin::Row-->
        <div class="row g-5 g-xl-10 mt-5">
            <!--begin::Col-->
            <div class="col-xxl-12">
                {% include 'founder_assistance/includes/project_detail_ai_enhanced.html' %}
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
        {% endif %}
    </div>
    <!--end::Content container-->
</div>
<!--end::Content-->
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('kt_modal_add_event_form');
    if (form) {
        form.addEventListener('submit', function(e) {
            e.preventDefault();
            
            const submitButton = form.querySelector('[type="submit"]');
            submitButton.setAttribute('data-kt-indicator', 'on');
            submitButton.disabled = true;

            const formData = new FormData(form);
            formData.append('project_id', '{{ project.id }}');

            fetch('{% url "founder_assistance:add_project_event" %}', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    // Close modal and refresh page to show new event
                    const modal = bootstrap.Modal.getInstance(document.getElementById('kt_modal_add_event'));
                    modal.hide();
                    window.location.reload();
                } else {
                    alert('Error adding event: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error adding event. Please try again.');
            })
            .finally(() => {
                submitButton.removeAttribute('data-kt-indicator');
                submitButton.disabled = false;
            });
        });
    }
});
</script>

{% include 'founder_assistance/includes/project_event_modal.html' %}
{% endblock %}
