{% extends 'founder_assistance/base.html' %}
{% load idea_filters %}

{% block content %}
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl">
        {% include 'founder_assistance/includes/project_detail_header.html' %}
        {% include 'founder_assistance/includes/project_detail_stats.html' %}

        <!--begin::Row-->
        <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
            <!--begin::Col-->
            <div class="col-xxl-6">
                {% include 'founder_assistance/includes/project_detail_ai_tools.html' %}
            </div>
            <!--end::Col-->

            <!--begin::Col-->
            <div class="col-xxl-6">
                {% include 'founder_assistance/includes/project_detail_timeline.html' %}
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->

        <!--begin::Row-->
        <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
            <!--begin::Col-->
            <div class="col-xxl-6">
                {% include 'founder_assistance/includes/project_detail_team.html' %}
            </div>
            <!--end::Col-->

            <!--begin::Col-->
            <div class="col-xxl-6">
                {% include 'founder_assistance/includes/project_detail_insights.html' %}
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->

        {% if project.related_idea %}
        <!--begin::Row-->
        <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
            <!--begin::Col-->
            <div class="col-xxl-12">
                {% include 'founder_assistance/includes/project_detail_ai_enhanced.html' %}
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
        {% endif %}
    </div>
    <!--end::Content container-->
</div>
<!--end::Content-->
{% endblock %}

{% block extra_js %}
<script>
// Add any custom JavaScript needed for the project detail page
</script>
{% endblock %}
