<div class="app-navbar flex-shrink-0 ms-auto">
  <!--begin::Search-->
  <div class="app-navbar-item align-items-stretch ms-1 ms-md-4">
    <div id="kt_header_search" class="header-search d-flex align-items-stretch">
      <div class="d-flex align-items-center" id="kt_header_search_toggle">
        <div class="btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-35px h-35px">
          <i class="ki-duotone ki-magnifier fs-2">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
        </div>
      </div>
    </div>
  </div>
  <!--end::Search-->

  <!--begin::Theme mode-->
  <div class="app-navbar-item ms-1 ms-md-4">
    <!--begin::Menu toggle-->
    <a href="#" class="btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-35px h-35px" data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
      <i class="ki-duotone ki-night-day theme-light-show fs-2">
        <span class="path1"></span>
        <span class="path2"></span>
      </i>
      <i class="ki-duotone ki-moon theme-dark-show fs-2">
        <span class="path1"></span>
        <span class="path2"></span>
      </i>
    </a>
    <!--begin::Menu-->
    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-title-gray-700 menu-icon-gray-500 menu-active-bg menu-state-color fw-semibold py-4 fs-base w-150px" data-kt-menu="true" data-kt-element="theme-mode-menu">
      <!--begin::Menu item-->
      <div class="menu-item px-3 my-0">
        <a href="#" class="menu-link px-3 py-2" data-kt-element="mode" data-kt-value="light">
          <span class="menu-icon" data-kt-element="icon">
            <i class="ki-duotone ki-night-day fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </span>
          <span class="menu-title">Light</span>
        </a>
      </div>
      <!--end::Menu item-->
      <!--begin::Menu item-->
      <div class="menu-item px-3 my-0">
        <a href="#" class="menu-link px-3 py-2" data-kt-element="mode" data-kt-value="dark">
          <span class="menu-icon" data-kt-element="icon">
            <i class="ki-duotone ki-moon fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </span>
          <span class="menu-title">Dark</span>
        </a>
      </div>
      <!--end::Menu item-->
      <!--begin::Menu item-->
      <div class="menu-item px-3 my-0">
        <a href="#" class="menu-link px-3 py-2" data-kt-element="mode" data-kt-value="system">
          <span class="menu-icon" data-kt-element="icon">
            <i class="ki-duotone ki-screen fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
              <span class="path3"></span>
              <span class="path4"></span>
            </i>
          </span>
          <span class="menu-title">System</span>
        </a>
      </div>
      <!--end::Menu item-->
    </div>
    <!--end::Menu-->
  </div>
  <!--end::Theme mode-->

  {% if user.is_authenticated %}
  <!--begin::User menu-->
  <div class="app-navbar-item ms-1 ms-md-4" id="kt_header_user_menu_toggle">
    <!--begin::Menu wrapper-->
    <div class="cursor-pointer symbol symbol-35px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
      <div class="symbol symbol-35px">
        <div class="symbol-label fs-2 fw-semibold bg-primary text-inverse-primary">{{ user.username|first|upper }}</div>
      </div>
    </div>
    <!--begin::User account menu-->
    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px" data-kt-menu="true">
      <!--begin::Menu item-->
      <div class="menu-item px-3">
        <div class="menu-content d-flex align-items-center px-3">
          <!--begin::Avatar-->
          <div class="symbol symbol-50px me-5">
            <div class="symbol-label fs-2 fw-semibold bg-primary text-inverse-primary">{{ user.username|first|upper }}</div>
          </div>
          <!--end::Avatar-->
          <!--begin::Username-->
          <div class="d-flex flex-column">
            <div class="fw-bold d-flex align-items-center fs-5">{{ user.username }}</div>
            <a href="#" class="fw-semibold text-muted text-hover-primary fs-7">{{ user.email }}</a>
          </div>
          <!--end::Username-->
        </div>
      </div>
      <!--end::Menu item-->
      <!--begin::Menu separator-->
      <div class="separator my-2"></div>
      <!--end::Menu separator-->
      <!--begin::Menu item-->
      <div class="menu-item px-5">
        <a href="{% url 'founder_assistance:profile' %}" class="menu-link px-5">My Profile</a>
      </div>
      <!--end::Menu item-->
      <!--begin::Menu item-->
      <div class="menu-item px-5">
        <a href="{% url 'founder_assistance:project_list' %}" class="menu-link px-5">
          <span class="menu-text">My Projects</span>
          <span class="menu-badge">
            <span class="badge badge-light-danger badge-circle fw-bold fs-7">3</span>
          </span>
        </a>
      </div>
      <!--end::Menu item-->
      <!--begin::Menu separator-->
      <div class="separator my-2"></div>
      <!--end::Menu separator-->
      <!--begin::Menu item-->
      <div class="menu-item px-5">
        <a href="{% url 'founder_assistance:logout' %}" class="menu-link px-5">Sign Out</a>
      </div>
      <!--end::Menu item-->
    </div>
    <!--end::User account menu-->
    <!--end::Menu wrapper-->
  </div>
  <!--end::User menu-->
  {% else %}
  <!--begin::User menu-->
  <div class="app-navbar-item ms-1 ms-md-4">
    <a href="{% url 'founder_assistance:login' %}" class="btn btn-sm btn-primary">Login</a>
  </div>
  <!--end::User menu-->
  {% endif %}
</div>
