{% block market_analysis_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Market Analysis Scripts -->
<script>
    // Set up the URL for the generate analysis endpoint
    window.generateAnalysisUrl = '{% url "founder_assistance:project_market_analysis" project.id %}?generate=true';
</script>
<script src="/static/js/custom/market_analysis/market_analysis_utils.js"></script>
<script src="/static/js/custom/market_analysis/market_analysis_charts.js"></script>
<script src="/static/js/custom/market_analysis/market_analysis_render.js"></script>
<script src="/static/js/custom/market_analysis/market_analysis_main.js"></script>
{% endblock %}
